<html>
<head>
<title>12Arts</title>
<meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
        <script>
        $(document).ready(function()
    { $(".boxed").hover(function()
    { $(this).css("background-color","#B3C8F3");
    },function(){$(this).css("background-color","white")}
                       ); 
    });
    </script>
    
</head>
<style>
h1 {
    font-family: "Times New Roman", Times, serif;
}       
.boxed{ margin-left:10px;
border:1px solid blue;
width:1480px;
height:300px;
border-radius:40px;
}
h3{
     margin-left:50px;;
 }
p{
    margin-left:50px;
    text-align:left;
    letter-spacing:2;
    word-spacing:10px;
}   
 
img{ width:400px;
height:250px;
margin-top:25px;
margin-right:50px;
border:1px solid black;
}
    </style>    
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
</div>

<div class="collapse navbar-collapse" id="myNavbar">
<ul class="nav navbar-nav">
<li><a href="http://localhost:8181/">Home</a></li>
<li><a href="http://localhost:8181/about1">About</a></li>
<li><a href="http://localhost:8181/contact1">Contact</a></li>
<li><a href="http://localhost:8181/highsec">Higher Studies</a></li>
<li><a href="http://localhost:8181/12medical">Medical</a></li>
<li><a href="http://localhost:8181/12nonmedical">Non-Medical</a></li>
<li><a href="http://localhost:8181/12commerce">Commerce</a></li>
<li  class="active"><a href="http://localhost:8181/12arts">Arts</a></li>
</ul>

</div>
</div>
</nav>
<br/><br/><br/><br/>
    <h1 align="center"><b>Career Options in Arts</b></h1>
    
<br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/ca1.jpg')}}" style="float:right;" alt="arts" class="center" />
    <br/><br/><h3><b>Management</b></h3>
    <br/><br/>
<p>Management is one of the most sought-after careers after 12th in India. The field of management is open to students from all the streams. Anyone who has completed 10+2 can opt for management courses.

BBA and other similar courses such as BBM and BMS are undergraduate degrees in management which open doors to numerous branches of management. Some of the most common specialisations one can seek to include Human Resources Management (HRM), Retail Management, Finance Management, Sales and Marketing Management, Logistics, Operations and Supply Chain Management, etc.</p>
</div>

<br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/ca2.jpg')}}" style="float:right;" alt="arts" class="center" />
    <br/><br/><h3><b>Fashion/ Textile Designing</b></h3>
    <br/><br/>
<p>Fashion designing is the art of application of design and aesthetics or natural beauty to clothing and accessories. There are various degrees, certificates and diploma courses in fashion design and technology, fashion marketing, clothing production, fashion branding, etc. available to the students to make a choice from while pursuing a career in fashion design after 12th arts.</p>
</div>

<br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/ca3.jpg')}}" style="float:right;" alt="arts" class="center" />
    <br/><br/><h3><b>Textile Design</b></h3>
    <br/><br/>
<p>Textile designing involves an introduction to the details of fabrics and textiles, its production, marketing and supply to train one for professional work in the industry. Textile industries are involved in the production of fibres, yarns, cloth materials and accessories to adore the textile.
    </p>
    </div>
    
<br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/ca4.jpg')}}" style="float:right;" alt="arts" class="center" />
    <br/><br/><h3><b>Interior Design</b></h3>
    <br/><br/>
<p>Interior designing is one of the most popular professional courses. Graduates from interior designing courses or fields can find employment with independent architects or in large architectural firms, with building contractors, or in hotels and resorts.</p>
</div>
    
<br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/ca5.jpg')}}" style="float:right;" alt="arts" class="center" />
    <br/><br/><h3><b>Animation & Multimedia</b></h3>
    <br/><br/>
<p>The animation is among the fast-emerging high-paying career options. As an animator, one must have a keen understanding of motion, movement, and acting to use their creativity and artistry to create moving images for video games, websites, movies, and television. Many institutes offer Degree, Diploma, Advance Diploma and Certificate courses in Animation after 12th Arts.</p>
</div>
    <br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/ca6.jpg')}}" style="float:right;" alt="arts" class="center" />
    <br/><br/><h3><b>Graphic Design</b></h3>
    <br/><br/>
<p>Graphic Designing is the art of visual communication that combines pictures, words, and ideas to convey information to an audience. Graphic designers prepare sketches or layouts by hand or with the aid of a computer to illustrate the vision for the design.</p>
</div>
    
<br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/ca7.jpg')}}" style="float:right;" alt="arts" class="center" />
    <br/><br/><h3><b>Web Design</b></h3>
    <br/><br/>
<p>Web Design & Development is the process of planning and creating a website. Web designers produce pages as seen in a browser by using text, images, digital media and interactive elements to create a page as seen in the browser. As the world is thoroughly dominated by the web nowadays, the demand, as well as the growth of web designers, is increasing rapidly. You need to have a sound knowledge of art and colour theory, visuality creative nature, understanding of web programming and the knowledge of web designing applications to have a lucrative career in web design after 12th.</p>
</div>
    
    <br/><br/>

<div class="boxed">
<img src=  "{{ url_for('static',filename='img/ca8.jpg')}}" style="float:right;" alt="arts" class="center" />
    <br/><br/><h3><b>Aviation/Travel/Hospitality</b></h3>
    <br/><br/>
<p>Hotel Management is growing as one of the promising career options in India. Hotel management courses make one aware of the operating sections of the hotel industry like front office, general operations, sales and marketing, food and beverage, service keeping and catering.</p>
</div>
    
    <br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/ca9.jpg')}}" style="float:right;" alt="arts" class="center" />
    <br/><br/><h3><b>Event Management</b></h3>
    <br/><br/>
<p>Event management is about organising a professional and focused event for a target audience. It involves visualising concepts and planning, budgeting, organising and executing events such as fashion shows, musical concerts, corporate seminars, exhibitions, wedding celebrations, theme parties, product launches, etc.</p>
</div>
    
    <br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/ca10.jpg')}}" style="float:right;" alt="arts" class="center" />
    <br/><br/><h3><b>Travel and Tourism</b></h3>
    <br/><br/>
<p>The field of Travel & Tourism is booming with its broad scope and career prospects. It is also a vast industry to look forward to the career in Travel Agencies (Inbound & Outbound), Tour Operating Companies, Business Houses, Airlines, Incentive Travel Companies, Travel & Tourism BPO’s, Tourist Information Offices, Tourism Education, etc.

</p>
    </div>
    
    <br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/ca11.jpg')}}" style="float:right;" alt="arts" class="center" />
    <br/><br/><h3><b>Media/Films/Journalism</b></h3>
    <br/><br/>
<p>Journalism & Mass Communication is one of the most popular courses after 12th Arts among students nowadays. It is a collection and broadcasting of news through the print media and electronic media.  There are a lot of career options in the field of Journalism and Mass Communication as one can make a career in Reporting, Editing, Advertising, Public Relations, Corporate Communications, Media Management, Television and Film Production, etc.</p>
</div>
    
    <br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/ca12.jpg')}}" style="float:right;" alt="arts" class="center" />
    <br/><br/><h3><b>Media Management</b></h3>
    <br/><br/>
<p>Media Management program deals with account planning and management, brand management, media planning and market research. Bachelor of Media Management (BMM) provides a distinctive methodology to the study of media, combining theoretical study with the development of practical media and communications skills to provide employment to students in the mass communication industry.</p>
</div> 

    <br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/ca13.jpg')}}" style="float:right;" alt="arts" class="center" />
    <br/><br/><h3><b>Politics/ Law/ Humanities</b></h3>
    <br/><br/>
<p>There are many colleges and universities which offer integrated courses in the field of law. After completing 12th with Arts, one can opt for five years’ BA.LLB/ BBA.LLB or B.Com.LLB programs. Be it judicial offices, schools, individuals or corporate houses and government, lawyers have an important role to play in the society and are required at all levels by various sections of the society. </p>
</div> 
    
    <br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/ca14.jpg')}}" style="float:right;" alt="arts" class="center" />
    <br/><br/><h3><b>Economics</b></h3>
    <br/><br/>
<p>Students from all the streams can opt for Economics courses. As an Economics graduate, one can get into entry-level job options in banking, finance, insurance, stock markets, sales and marketing as well as corporations like consulting firms or government departments. Hence, students often choose economics courses after 12th Arts to have a decent career growth.</p>
</div> 
   
    <br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/ca15.jpg')}}" style="float:right;" alt="arts" class="center" />
    <br/><br/><h3><b>Psychology</b></h3>
    <br/><br/>
<p>Psychology is the study of the human mind, brain and behaviour. In other words, psychology is a science of understanding the dynamics of human behaviour. There is an increased demand for psychological services in schools, hospitals, social service agencies, mental health centres, substance abuse treatment clinics, consulting firms and private companies.</p>
</div> 
       
    <br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/ca16.jpg')}}" style="float:right;" alt="arts" class="center" />
    <br/><br/><h3><b>Sociology</b></h3>
    <br/><br/>
<p>Sociology includes the study of social relations, social stratification, social interaction, culture, etc. A degree course in sociology covers the study of various specialisation fields of Sociology such as Applied Sociology, Comparative Sociology, Cultural Sociology, Collective Behaviour, etc.</p>
</div>  
    
    <br/><br/>       
</body>
    </html>