<html>
<head>
<title>12Commerce</title>
<meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
        <script>
        $(document).ready(function()
    { $(".boxed").hover(function()
    { $(this).css("background-color","#B3C8F3");
    },function(){$(this).css("background-color","white")}
                       ); 
    });
    </script>
    
</head>
<style>
h1 {
    font-family: "Times New Roman", Times, serif;
}       
.boxed{ margin-left:10px;
border:1px solid blue;
width:1480px;
height:300px;
border-radius:40px;
}
h3{
     margin-left:50px;;
 }
p{
    margin-left:50px;
    text-align:left;
    letter-spacing:2;
    word-spacing:10px;
}   
 
img{ width:400px;
height:250px;
margin-top:25px;
margin-right:50px;
border:1px solid black;
}
    </style>    
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
</div>

<div class="collapse navbar-collapse" id="myNavbar">
<ul class="nav navbar-nav">
<li><a href="http://localhost:8181/">Home</a></li>
<li><a href="http://localhost:8181/about1">About</a></li>
<li><a href="http://localhost:8181/contact1">Contact</a></li>
<li><a href="http://localhost:8181/highsec">Higher Studies</a></li>
<li><a href="http://localhost:8181/12medical">Medical</a></li>
<li><a href="http://localhost:8181/12nonmedical">Non-Medical</a></li>
<li class="active"><a href="http://localhost:8181/12commerce">Commerce</a></li>
<li><a href="http://localhost:8181/12arts">Arts</a></li>
</ul>

</div>
</div>
</nav>
<br/><br/><br/><br/>
    <h1 align="center"><b>Career Options in Commerce</b></h1>
    
<br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/cc1.png')}}" style="float:right;" alt="c1" class="center" />
    <br/><br/><h3><b>Economics</b></h3>
    <br/><br/>
<p >It is the study of the production, transfer, and use of goods, services, and resources. It is a research-oriented career and would require you to learn and make use of various theories, principles, and models. Economists conduct researches and analyse data to predict market trends, build economic theories and models, and make recommendations for resolving economic issues. The field has an extremely positive future outlook, as there is a huge demand of qualified economists in consulting firms, private banks as well as public sectors, both in India and abroad.</p>
</div>
<br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/cc2.png')}}" style="float:right;" alt="c1" class="center" />
    <br/><h3><b>Actuarial Science</b></h3>
    <br/>
<p >Actuarial Science is a field dealing with the analysis of risk across various fields, such as insurance, business, finance, and healthcare. Professionals in this field (called Actuaries), employ mathematical equations, statistics, and financial theories to determine risk and uncertainty associated with various future events that can impact business. To this end, they collect statistical data, conduct analysis, and design and implement numerous business strategies.<br/>Their work can thus involve designing and determining the pricing of insurance policies, establishing the amount of liabilities, etc. It is one of the emerging career options and is extremely lucrative on the monetary front. However, it is also considered one of the toughest careers, with longer work days than others on average, and a relatively tough academic cycle. It can be an excellent career option if you enjoy numbers, statistics, and data analysis.</p>
</div>
<br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/cc3.png')}}" style="float:right;" alt="c1" class="center" />
    <br/><br/><h3><b>Management</b></h3>
    <br/><br/>
<p >Management is the coordination, planning, forecasting and organizing of a company’s processes, to ensure effective functioning and growth. It is another popular career route, with a relatively reliable career progression. It is a broad field that allows you the opportunity to select from different roles and specializations, including operations, marketing, HR, finance, international business, sales, etc.</p>
</div>
 <br/><br/>  
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/cc4.png')}}" style="float:right;" alt="c1" class="center" />
    <br/><br/><h3><b>Commerce</b></h3>
    <br/><br/>
<p >This is an umbrella field for various commerce related domains, such as accounting, auditing, finance, taxation, etc. A degree in B.Com (Programme and Hons.) provides you with a solid foundation in various streams of commerce and acts as a gateway to various professional and higher education opportunities. .The flourishing trade and commerce of the country, as well as the growing economy, make this an in-demand field with a number of respectable and lucrative career options available.</p>
</div>
  <br/><br/> 
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/cc5.png')}}" style="float:right;" alt="c1" class="center" />
    <br/><br/><h3><b>Chartered Accountancy (C.A)</b></h3>
    <br/><br/>
<p >One of the most well-known and popular career paths for commerce students, Chartered Accountant (C.A), is an internationally recognized professional certification conducted by the Institute of Chartered Accountants of India (ICAI).
A Chartered Accountant works across various domains of business such as audit, taxation, investment, finance, etc. to increase the profitability of the firm.</p>
</div>
  <br/><br/> 
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/cc6.png')}}" style="float:right;" alt="c1" class="center" />
    <br/><br/><h3><b>Company Secretary (C.S)</b></h3>
    <br/><br/>
<p >Company Secretary is a professional course administered by The Institute of Company Secretaries of India (ICSI). The Company Secretary takes care of the efficient administration of a company, particularly with respect to ensuring legal and statutory compliance, and governance-related issues such as ensuring that the decisions of the board of directors are implemented. Their job involves giving advice on conducting business, dealing with situations involving conflict of interest, suggesting ways to prepare financial reports, developing corporate strategy, assisting in planning, and advising on company law.</p>
</div>
   <br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/cc7.png')}}" style="float:right;" alt="c1" class="center" />
    <br/><br/><h3><b>Finance</b></h3>
    <br/><br/>
<p >A career in the finance domain involves helping businesses and individuals in making various financial planning decisions, monitoring cash flow, managing assets and liabilities, raising capital for expansion and running business operations. A common set of skills required across finance careers include a good grasp of economics and accounting concepts, a knack for numbers and data, and analytical thinking.</p>
</div>
  <br/><br/> 
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/cc8.png')}}" style="float:right;" alt="c1" class="center" />
    <br/><br/><h3><b>Bank PO</b></h3>
    <br/><br/>
<p >Bank Probationary Officer (PO) is an entry-level position in a bank, where an individual begins as a trainee. Bank PO exams are conducted by both public and private banks. During the probationary period (2 years), the candidates are required to work across various activities related to the daily functioning of a bank, such as handling cash flow, customer complaints, supervising clerical work, loan processing and approval, issuing ATM cards and checkbooks, etc. After the completion of the probation period, the candidate becomes an assistant manager, with an outlook at becoming the branch manager and attaining higher positions over the years.</p>
</div>
  <br/><br/> 
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/cc9.png')}}" style="float:right;" alt="c1" class="center" />
    <br/><br/><h3><b>Cost and Management Accounting</b></h3>
    <br/><br/>
<p >Cost and Management Accountants (earlier referred to as Cost and Works Accountants) are responsible for budgeting, cost management, performance evaluation and asset management within a company or organization. The CMA is a certification provided by the Institute of Cost Accountants of India (ICAI), formerly known as the Institute of Cost and Works Accountants of India (ICWAI).Cost and management accountants work alongside corporate executives to prepare the financial plan and strategy of the company, and also prepare financial reports for various regulatory authorities, creditors, tax authorities, etc.</p>
</div>
   <br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/cc10.png')}}" style="float:right;" alt="c1" class="center" />
    <br/><br/><h3><b>Stockbroking</b></h3>
    <br/><br/>
<p >Stockbroking is a career that involves buying and selling of stocks on the stock market. Stockbrokers manage investments in stocks, bonds, and derivatives for their clients, and advise them about market fluctuations. Their clients include individuals buyers as well as small and large organizations. With the steady growth in the Indian stock markets, this field is predicted to witness a good growth in demand for qualified professionals. Stockbroking is also a possible career option for you if you have a propensity for following financial markets, such as Nifty and Sensex, and are adaptable and quick on your feet.</p>
</div>
 <br/><br/>  
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/cc11.png')}}" style="float:right;" alt="c1" class="center" />
    <br/><br/><h3><b>Entrepreneurship</b></h3>
    <br/>
<p >This career is the talk of the town as many people these days wish to set-up their own business, referred to as a start-up. Entrepreneurs conceptualise the business idea, build the structure, function, and strategy, and subsequently design and launch the company. Entrepreneurship is a broad field, and one can be associated with a wide range of ventures to sell products, services, or processes.<br/>It has an extremely positive outlook for the future as the government and political setup of the country is supporting start-up initiatives. The key traits required to be successful in this field include creativity, business knowledge, and persistence. However, this can prove to be a very risky path to pursue and is relatively more challenging than many other career options.</p>
</div>
 <br/><br/>  
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/cc12.png')}}" style="float:right;" alt="c1" class="center" />
    <br/><br/><h3><b>Statistics</b></h3>
    <br/><br/>
<p >Statistics is a field involved in the interpretation, analysis, and representation of numerical data. Statisticians collect and analyse data to solve various problems and make recommendations in organizations, both in the public and private sector. Statisticians conduct data collection, organize data, use various statistical tools and techniques to analyse the data, base conclusions and inferences on the data, and further make recommendations to stakeholders and policy makers based on the results. This is a challenging, yet rewarding, career with a flexibility of work opportunities and possibilities to work across various sectors.</p>
</div>
 <br/><br/>  

    <br/><br/>       
</body>
</html>