<html>
<head>
<title>12Non-Medical</title>
<meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
        <script>
        $(document).ready(function()
    { $(".boxed").hover(function()
    { $(this).css("background-color","#B3C8F3");
    },function(){$(this).css("background-color","white")}                       ); 
    });
    </script>
    
</head>
<style>
h1 {
    font-family: "Times New Roman", Times, serif;
}       
.boxed{ margin-left:10px;
border:1px solid blue;
width:1480px;
height:300px;
border-radius:40px;
}
h3{
     margin-left:50px;;
 }
p{
    margin-left:50px;
    text-align:left;
    letter-spacing:2;
    word-spacing:10px;
}   
 
img{ width:400px;
height:250px;
margin-top:25px;
margin-right:50px;
border:1px solid black;
}
    </style>    
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
</div>

<div class="collapse navbar-collapse" id="myNavbar">
<ul class="nav navbar-nav">
<li><a href="http://localhost:8181/">Home</a></li>
<li><a href="http://localhost:8181/about1">About</a></li>
<li><a href="http://localhost:8181/contact1">Contact</a></li>
<li><a href="http://localhost:8181/highsec">Higher Studies</a></li>
<li><a href="http://localhost:8181/12medical">Medical</a></li>
<li class="active"><a href="http://localhost:8181/12nonmedical">Non-Medical</a></li>
<li><a href="http://localhost:8181/12commerce">Commerce</a></li>
<li><a href="http://localhost:8181/12arts">Arts</a></li>
</ul>

</div>
</div>
</nav>
<br/><br/><br/><br/>
    <h1 align="center"><b>Career Options in Non-Medical</b></h1>
    
<br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/cnm1.png')}}" style="float:right;" alt="nm1" class="center" />
    <br/><br/><h3><b>Engineering</b></h3>
    <br/><br/>
<p >Engineering is the most sort after career for the students taking Non-Medical stream after clearing their Mtriculation.Engineering involves scientific and practical knowledge to invent, build, design and maintain the system,devices, the machines, and process.<br/>Students who are interested in taking admission in an engineering college for B-tech or B.Arch, need to appear for Joint Entrance Examw(JEE) which is conducted by CBSE.</p>
</div>
   
<br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/cnm2.png')}}" style="float:right;" alt="nm2" class="center" />
    <br/><br/><h3><b>Architecture</b></h3>
   <br/><br> 
<p >Architectural marvels such as the Burj Khalifa, The Louvre, Petronas Towers,  and other buildings of the modern world don’t just pop out of thin air. These projects are intensive on planning, designing and architects do just that. They work closely with their clients to customise designs according to specifications and are involved in the creation and restoration of buildings, such as residential complexes, malls, commercial spaces, restaurants, etc. A career in architecture requires you to have keen observational skills, aesthetic sensitivity, critical thinking, a knack for efficient use of space, and an eye-for-detail.</p>
</div>    
    
<br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/cnm11.jpg')}}" style="float:right;" alt="nm3" class="center" />
    <br/><br/><h3><b>Aviation</b></h3>
    <br/><br/>
<p>While the previously-mentioned fields were mostly associated with research or desk jobs, Aviation would take you on a sky-high ride. A perfect mix of science, technology and travel, a career in Aviation can top your list if you are looking for a career to skip the 9-to-5.  Being a Commercial Pilot would require you to take command of a flight’s controls, and ensure that passengers and cargo are carried safely around the globe. Yet, the field of Aviation is not only limited to being a pilot.</p>
</div>  
 
<br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/cnm3.jfif')}}" style="float:right;" alt="nm4" class="center" />
    <br/><br/><h3><b>Ethical Hacking</b></h3>
    <br/><br/>
<p >Ethical hacking, by its very name, sounds like an exciting and off-beat career, and it indeed is. A career with a new-age flair, Ethical Hacking is fast becoming a popular career option for students due to advancements in the technology space. Ethical Hackers, as opposed to their malicious counterparts, attempt to breach the security of a computer system, to find faults in the system’s defences. They bring to light any vulnerabilities in a company’s network security, so as to prevent a leak of sensitive information. It is not just a career for computer geeks and you can think about Ethical Hacking as a full-time career option if you have the right logical thinking and technical skills.</p>
</div>  
    
<br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/cnm4.jfif')}}" style="float:right;" alt="nm4" class="center" />
    <br/><br/><h3><b>Merchant Navy</b></h3>
    <br/><br/>
<p >Would you like a career that would take you all around the world? Would you like a job where you would be at sea for months on end? A career in Merchant Navy gives you exactly that and more. Unlike the Indian Navy, which defends the nation at sea, the Merchant Navy serves to facilitate international trade, by transporting cargo, goods, and commercial items across the globe. If you are resilient enough to handle being on a ship for prolonged periods with intermittent contact with family, this can be a highly rewarding career for you, both professionally and monetarily.</p>
</div>      

<br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/cnm5.jfif')}}" style="float:right;" alt="nm5" class="center" />
    <br/><br/><h3><b>Industrial Design</b></h3>
    <br/><br/>
<p >What does science have to do with design? Quite a lot, actually. As opposed to the traditional fields of design, such as fashion and apparel design, which a student from any stream can pursue, there are certain sub-fields of design that require the technical expertise of a science student. Product Designers (a sub-field of Industrial Design) are involved in the design and manufacture of products, ranging from mobile phones, Bluetooth headphones, smart watches, to wheelchairs, furniture, and home appliances. Yet another application of industrial design – Automobile Design deals with the design and manufacture of automobiles, such as cars, bikes, and even buses</p>
</div>  

<br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/cnm6.jfif')}}" style="float:right;" alt="nm6" class="center" />
    <br/><br/><h3><b>Forensic Science</b></h3>
    <br/>
<p >Many of us find investigative crime shows and movies fascinating, yet have you ever considered that it could be your full-time career option? A relatively new field in India, Forensic Science is rapidly creating a space for itself, owing to an increase in crime, and the need for a scientific, methodical approach to solving cases. Forensic Scientists scientifically collect evidence, document it, and analyse it in the laboratory. Forensic Science is an applied field, and utilises knowledge from various fields of science, including Chemistry, Physics, Anthropology, Biology, and even Computer Science. In order to pursue a career in this field, you need to be detail-oriented and have good observational and investigative skills.</p>
</div>  

<br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/cnm7.jfif')}}" style="float:right;" alt="nm7" class="center" />
    <br/><br/><h3><b>Computer Applications & IT</b></h3>
    <br/><br/>
<p >Those with a love for computers, programming languages and coding, yet unable /unwilling to pursue engineering, can find the field of computer applications to be a boon. Professionals in this field hold immense knowledge of computer hardware, operating systems, programming languages and software concepts.  In order to build a successful career in this field, you need to have good command over programming languages, be up-to-date with the latest developments in the field and have strong logical capabilities.</p>
</div>  

<br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/cnm8.jfif')}}" style="float:right;" alt="nm8" class="center" />
    <br/><br/><h3><b>Fashion Technology</b></h3>
    <br/>
<p >You could be shying away from engineering for a number of reasons, but what if we tell you, there is an application of technology in the world of Fashion too? Fashion Technology seeks to amalgamate the principles of manufacturing and technology, with those of design. People in this career, thus, work on the design and development of fabrics, and the manufacturing process to ensure quality and efficiency of fabrics and garments. During your course, you learn about textile fibres, fabrics, garment manufacture, and garment design through Computer-Aided Design (CAD) software. Those with a flair for fashion and a love for technology can look forward to an exciting and rewarding career in this field.</p>
</div>  

<br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/cnm10.png')}}" style="float:right;" alt="nm9" class="center" />
    <br/><br/><h3><b>Defense</b></h3>
    <br/><br/>
<p >Oodles of patriotism, the zeal to serve the nation, and the drive to deal with challenges, all point towards a single career, Defense. Considered to be one of the most prestigious and awe-inspiring careers, Defense forms the backbone of a country’s security against external threats. Defense personnel are responsible for supporting peace-keeping operations and humanitarian work. There are three primary branches of any country’s defense, namely, the Army, the Navy, and the Air Force. You can choose to serve in any of the three and would have to undergo varying entry and training procedures, depending upon your choice.</p>
</div>  

<br/><br/>
<div class="boxed">
<img src=  "{{ url_for('static',filename='img/cnm9.jfif')}}" style="float:right;" alt="nm10" class="center" />
    <br/><h3><b>Animation & Graphics</b></h3>
    <br/>
<p>The Animation sector in India is growing exponentially, owing to an increase in demand for VFX, post-production, and CGI. While the Indian television & film industry has a long history of outsourcing such technologies to professionals from overseas, the need for home-grown content is being felt. The resulting demand for talented and competent professionals in the field of Animation & Graphics has resulted in a rise in popularity for this career. Professionals in this field are knowledgeable about 3D Animation, Digital Film-Making, Animation, VFX, Multimedia Production, Graphic Design, etc. You can also build a thrilling career in this field if you possess strong creative skills, aesthetic sense, ability to work with computers and technology, and a love for design and multimedia.</p>
</div>  

    <br/><br/>       
</body>
</html>