<html>
<head>
<style>
#1:hover{
color:DC143C;
    }
.boxed{
border:1px solid black;
width:1500px;
height:300px;
background-color:	#F08080;
border-radius:50px;
}
img{ width:400px;
height:250px;
margin-top:25px;
margin-right:50px;
border:1px solid black;
}
h1{
margin-left:100px;
margin-top:70px;
}
.a1{
margin-left:100px;
}
h2{
margin-left:100px;
color:DC143C;
}
.a{ 
margin-left:100px;
}
.column {
   
  float: left;
  width: 30%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
 
}

</style>
</head>

<body>

<div class="boxed">
<img src=  "{{ url_for('static',filename='img/bitsmesra.jfif')}}" style="float:right;" alt="MBA" class="center" />
<h1><u>BITS ,MESRA</u></h1>
<h3 class="a1">Government</h3>
</div>
    <h2>Admission:</h2>
    <p class ='a'>Birla Institute of Technology (BIT), Jharkhand (also known as BIT Mesra) offers degree and integrated programmes to aspirants at the undergraduate (UG), postgraduate (PG) and doctorate (PhD) level. Programmes offered at BIT are in streams including – Engineering, Architecture & Planning, Medicine & Health Sciences, Hospitality & Travel, Science, Business & Management Studies, IT & Software as well as Animation.<br>
        <b>Minimum eligibility criteria for all courses</b><br>
For admissions to UG programmes at BIT Mesra, applicants must have passed Class 12 / Intermediate or equivalent qualifying examination with a minimum of 45% to 45% (5% relaxation for SC/ST) marks in Class 12 / Intermediate or equivalent qualifying examination, depending on the course. Appearing students can also apply.<br>
Eligibility criteria that aspirants need to fulfill to secure admission in PG programmes offered at BIT Mesra states that candidates should have secured their bachelor’s degree from a recognised college/university with at least 50% to 55% marks in aggregate (5% relaxation for SC/ST candidates) , depending on the programme. Appearing students will also be eligible to apply.</p>
    
 
    
    
    <h2>Courses Offered:</h2>
    <p class='a'><b>Undergraduate and Integrated Programmes at BIT Mesra</b><br>
1. Bachelor of Technology (B.Tech.) in the following disciplines:<br>
        a) Biotechnology<br>
        b) Chemical Engineering        <br>
        c) Chemical Engineering (Plastic & Polymer)        <br>
        d) Civil Engineering<br>
        e) Computer Science & Engineering<br>
        f) Electrical & Electronics Engineering<br>
        g) Electronics & Communication Engineering<br>
        h) Information Technology<br>
        i) Mechanical Engineering<br>
        j) Production Engineering<br>
2. Bachelor of Architecture (B.Arch)<br>
3. Bachelor of Pharmacy (B.Pharmacy)<br>
4. Bachelor of Hotel Management and Catering Technology (BHMCT)<br>
5. Integrated M.Sc. programmes in the following disciplines [with exit option after 6 semesters - B.Sc. Degree].<br>
    a) Chemistry<br>
    b) Mathematics & Computing<br>
    c) Physics<br>
    d) Food Technology<br></p><P class='a'></P>
    <p class='a'><b>Postgraduate courses</b><br>
    1. M.Tech (Computer Science) at BIT Patna Campus<br>
2. M. Pharm. programme at Mesra in the following four specializations:<br>
        a) Pharmaceutical Chemistry<br>
        b) Pharmaceutics<br>
        c) Pharmacology<br>
        d) Pharmaceutical Quality Assurance<br>
3. MBA – Master of Business Administration –programme at Mesra, Lalpur, and Noida<br>
4. MCA – Master of Computer Applications – programme at Mesra, Jaipur, Lalpur, and Noida<br>
5. M.Sc. programme at Mesra in the following disciplines<br>
        a) Chemistry<br>
        b) Mathematics<br>
        c) Physics<br>
       d) Biotechnology<br>
       e) Geo-Informatics<br>
     
6. M.Sc. Animation Design programme at BIT Jaipur Campus<br>
    </p>
    <b class='a'>PhD Programme</b> 
<p class='a'>
    Ph.D. programmes – The Institute offers Ph.D. programme twice in a year January / July in disciplines at Mesra and its Off Campuses.</p>
    
       
    <h2>Gallery:</h2>
	<div class="a1">
    <div class="row">
  <div class="column">
    <img src="{{ url_for('static',filename='img/bitsmesra1.jpg')}}" alt="bitsmesra" style="width:300px height=200px" /></div>
  <div class="column">
    <img src="{{ url_for('static',filename='img/bitsmesra2.jfif')}}" alt="bitsmesra" style="width:300px height:200px">
  </div>
  <div class="column">
    <img src="{{ url_for('static',filename='img/bitsmesra3.jpg')}}" alt="bitsmesra" style="width:300px height:200px">
  </div>
</div>
</div>
    
    <h2>Contact Us</h2>
<div class="a1">
<li> Address:Admission Office,
BITS Pilani, Dubai Campus
    Dubai International Academic City</li>
<li>P.O. Box: 345055,
    Dubai, UAE</li>

    <li>Admission Office (Direct) : +9714 2753 711</li>
    <li>Admission Office (Board) : +9714 2753 700 Extn. 122 / 123</li>
    <li>admission Office Fax: +9714 4200822, +9714 4200866</li>
    <li>Email: admission@dubai.bits-pilani.ac.in</li>
    <li>Office Timings<br>
        Sunday to Thursday- 7:30 am - 3:30 pm</li>
</div>
		</body>
</html>