<html>
<head>
<style>
#1:hover{
color:DC143C;
    }
.boxed{
border:1px solid black;
width:1500px;
height:300px;
background-color:	#F08080;
border-radius:50px;
}
img{ width:400px;
height:250px;
margin-top:25px;
margin-right:50px;
border:1px solid black;
}
h1{
margin-left:100px;
margin-top:70px;
}
.a1{
margin-left:100px;
}
h2{
margin-left:100px;
color:DC143C;
}
.a{ 
margin-left:100px;
}
.column {
   
  float: left;
  width: 30%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
 
}

</style>
</head>

<body>

<div class="boxed">
<img src="{{ url_for('static',filename='img/bitspilani.jfif')}}" style="float:right;" alt="engg" class="center" />
<h1><u>BITS PILANI,RAJASTHAN</u></h1>
<h3 class="a1">Government</h3>
</div>
<h2>
    Who we are:</h2><p class='a'>
The Birla Institute of Technology & Science, BITS Pilani is an all-India Institute for higher education. The primary motive of BITS is to "train young men and women able and eager to create and put into action such ideas, methods, techniques and information". The Institute is a dream come true of its founder late Mr G.D.Birla - an eminent industrialist, a participant in Indian freedom struggle and a close associate of the Father of Indian Nation late Mr. Mohandas Karamchand Gandhi (Mahatma Gandhi). What started in early 1900s as a small school, blossomed into a set of colleges for higher education, ranging from the Humanities to Engineering until 1964 when all these colleges amalgamated to culminate into a unique Indian University of International standing. This university was christened as the Birla Institute of Technology and Science, Pilani, known to many as BITS, Pilani.<br>
    Over the years, BITS has provided the highest quality technical education to students from all over India admitted on the basis of merit. Its graduates may be found throughout the world in all areas of engineering, science and commerce. BITS symbolizes the maturing of Indian technical ability and "can-do" entrepreneurial spirit, especially as derived from the private sector. BITS is located in the Vidya Vihar campus adjacent to the town of Pilani in Rajasthan</p>
    <h2>Our mission:</h2><p class='a'>
BITS mission is to advance knowledge and educate students in science, technology, and other areas of scholarship that will best serve the nation and the world in the 21st century.
    The Institute is committed to generating, disseminating, and preserving knowledge, and to working with others to bring this knowledge to bear on the world's great challenges. BITS is dedicated to providing its students with an education that combines rigorous academic study and the excitement of discovery with the support and intellectual stimulation of a diverse campus community. We seek to develop in each member of the BITS community the ability and passion to work wisely, creatively, and effectively for the betterment of humankind.</p>
    <h2>
        Our vision:</h2><p class='a'>
    Our commitment to transparency and stress on equal opportunity has been a key contributing factor behind our emergence as an institute of national repute, our rigorous intake process rewards only merit and ensures that only truly motivated students join us. Our curriculum is continuously being innovated and refreshed to reflect the latest developments in technology and trends within industry. Pure academics are supplemented by pervasive industry engagement and every student is exposed to practical applications of classroom knowledge under a structured semester-long engagement programme</p>
    <h2>Our policy</h2><p class='a'>
The pursuit of excellence requires a transparent and honest approach. At BITS Pilani, we have always believed this to be true and are one of the few top institutes in India to favour a ‘Merit Only’ based admission policy.
    To ensure complete transparency in student intake in the undergraduate courses we have instituted BITSAT, a fully online exam. BITSAT tests students on their aptitude for Mathematics, Physics and Chemistry. BITSAT also has a section on English and Logical reasoning, thus becoming a complete analysis of a candidate’s intelligence and capability.</p>
    
    <h2>Admission:</h2>
    <p class ='a'><b>Eligibility</b><br>
BITS Pilani, Dubai Campus has stringent eligibility criteria for admission into all programmes. Admission to BITS Pilani, Dubai Campus is based on the merit of the candidate. For First Degree admission the merit is determined by the overall aggregate marks of the candidate in the Qualifying Examination (12th Grade or equivalent). For Higher Degree admission, apart from the marks in the qualifying examination (B.E./ B.Tech. or equivalent), the candidate's performance in the admission interview is also considered.<br>
    <b>
        Scholarships</b><br>
        A large number of scholarships and fee concessions under various categories are available for admitted students. Meritorious students are offered Tuition Fee scholarship and Hostel Fee concession based on the Grade 12 marks. Students with BITSAT score are also eligible for Tuition Fee scholarship and Hostel Fee concession based on the score.</p>
    
 
    
    
    <h2>Courses Offered:</h2>
   <p class='a'>
       <li class='a'>B.E.: Chemical</li> 
<li class='a'>B.E.: Civil</li>
<li class='a'>B.E.: Computer Science</li>
<li class='a'>B.E.: Electrical and    Electronics</li>
<li class='a'>B.E.: Electronics & Instrumentation</li>
<li class='a'>B.E.: Mechanical </li>
<li class='a'>B.E.: Manufacturing </li>
<li class='a' >B.Pharm.</li>

<li class='a'>M.Sc.: Biological Sciences </li>
<li class='a'>M.Sc.: Chemistry </li>
<li class='a'>M.Sc.: Economics </li>
<li class='a'>M.Sc.: Mathematics </li>
<li class='a'>M.Sc.: Physics </li>
<li class='a'>M.Sc.: General Studies </li></p>
    
    <h2>Gallery:</h2>
	<div class="a1">
    <div class="row">
  <div class="column">
    <img src="{{ url_for('static',filename='img/bitspilani1.jfif')}}" alt="engg" style="width:300px height=200px" /></div>
  <div class="column">
    <img src="{{ url_for('static',filename='img/bitspilani2.jfif')}}" alt="engg" style="width:300px height:200px">
  </div>
  <div class="column">
    <img src="{{ url_for('static',filename='img/bitspilani3.jfif')}}" alt="engg" style="width:300px height:200px">
  </div>
</div>
</div>
    
    <h2>Contact Us</h2>
<div class="a1">
<li> Address:Admission Office,
BITS Pilani, Dubai Campus
    Dubai International Academic City</li>
<li>P.O. Box: 345055,
    Dubai, UAE</li>

    <li>Admission Office (Direct) : +9714 2753 711</li>
    <li>Admission Office (Board) : +9714 2753 700 Extn. 122 / 123</li>
    <li>admission Office Fax: +9714 4200822, +9714 4200866</li>
    <li>Email: admission@dubai.bits-pilani.ac.in</li>
    <li>Office Timings<br>
        Sunday to Thursday- 7:30 am - 3:30 pm</li>
</div>
		</body>
</html>