<html>
<head>
<style>
#1:hover{
color:DC143C;
    }
.boxed{
border:1px solid black;
width:1500px;
height:300px;
background-color:	#F08080;
border-radius:50px;
}
img{ width:400px;
height:250px;
margin-top:25px;
margin-right:50px;
border:1px solid black;
}
h1{
margin-left:100px;
margin-top:70px;
}
.a1{
margin-left:100px;
}
h2{
margin-left:100px;
color:DC143C;
}
.a{ 
margin-left:100px;
}
.column {
   
  float: left;
  width: 30%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
 
}

</style>
</head>

<body>

<div class="boxed">
<img src= "{{ url_for('static',filename='img/delhitechnologicals.jfif')}}" style="float:right;" alt="engg" class="center" />
<h1><u>DELHI TECHNOLOGYICAL UNIVERSITY</u></h1>
<h3 class="a1">Government</h3>
</div><h2>About:</h2>
    <h2><br>
        <u>Vision </u> <br>

" To be a world class university through education , innovation and research for the service of humanity " <br>

        <u>Mission </u><br> 

1. To establish centres of excellence in emerging areas of science, engineering, technology, management and allied areas. <br>

2. To foster an ecosystem for incubation, product development, transfer of technology and entrepreneurship. <br>

3. To create environment of collaboration, experimentation, imagination and creativity.<br> 

4. To develop human potential with analytical abilities, ethics and integrity. <br>

5. To provide environment friendly, reasonable and sustainable solutions for local & global needs.<br> 
</h2>    


    
    <h2>Admission:</h2><p class ='a'>The admission towards a full-time Bachelor of Engineering degree in DTU is through the Joint Admission Counselling Delhi (JAC-Delhi) process, together with Indira Gandhi Delhi Technological University for Women, Indraprastha Institute of Information Technology Delhi and Netaji Subhas Institute of Technology. Admission to foreign students is through the Direct Admission of Students Abroad (DASA) scheme. Admission to the B.Tech. (Lateral Entry) Programme is based on marks secured by the candidates in the State Diploma Examination. Admissions to the evening studies probramme is based on a Common Entrance Examination.<br>
Admission towards a postgraduate degree is based on performance in the Graduate Aptitude Test in Engineering (GATE) qualifying exam. If two or more candidates have the same GATE score, then percentage in qualifying undergraduate course shall decide the merit. No separate test or interview is conducted by the university. However, for the NRIs, Foreign Nationals and Persons of Indian Origin (PIOs) the admission is made on the basis of merit/score in Graduate Record Examination (GRE). The medium of instruction for all the courses at the university is English. 
Admissions in MBA program are based on Common Admission Test (CAT) exam, followed by a group discussion and an interview. </p>
    
    <h2>Courses Offered:</h2>
    <P CLASS ='A'> <b>B.TECH</b><br>
    Automobile Engineering
,

Bio Technology
,

Chemical Engineering
,

Civil Engineering
,

Computer Science & Engineering
,

Electrical & Electronics Engineering
,

Electrical Engineering
,

Electronics & Communication Engineering
,
Engineering Physics
,

Environmental Engineering
,

Industrial & Production Engineering
,

Information Technology
,

Mathematics & Computing
,

Mechanical Engineering
,

Software Engineering</P>
    <p class='a'><b>MBA</b><br>Finance
,
Human Resources
,
Information Technology
,

Knowledge & Technology Management
,
Marketing
,
Supply Chain Management</p>
    <b class='a'>M.TECH</b><p class='a'>Computer Science & Engineering
,
Digital Communication & Networking
,
Electrical Engineering-Control System
,
Environmental Engineering
,
Hydraulic Engineering
,
Industrial & Production Engineering
,
Polymer Science & Technology
,
Structural Engineering
,
Thermal Power Engineering</p>

    
    <h2>Exams Offered:</h2>
    <p class="a">CAT/GMAT/JEE MAIN/JEE ADVANCED</p>
    
    <h2>Gallery:</h2>
	<div class="a1">
    <div class="row">
  <div class="column">
    <img src= "{{ url_for('static',filename='img/delhitechnologicals1.jfif')}}" alt="engg" style="width:300px height=200px" /></div>
  <div class="column">
    <img src= "{{ url_for('static',filename='img/delhitechnologicals2.jpg')}}" alt="engg" style="width:300px height:200px">
  </div>
  <div class="column">
    <img src= "{{ url_for('static',filename='img/delhitechnologicals3.jfif')}}" alt="engg" style="width:300px height:200px">
  </div>
</div>
</div>
    
    <h2>Contact:</h2>
    <ul class="a">
        <li>Phone:+91-11-27871018</li>
        <li>Fax:+91-11-27871023</li>
<li>Address:
Delhi Technological University,<br>
Shahbad Daulatpur,<br>
Main Bawana Road, <br>
Delhi-110042.<br>
    India .<br></li></ul>
</body>
</html>