<html>
<head>
<style>
#1:hover{
color:DC143C;
    }
.boxed{
border:1px solid black;
width:1500px;
height:300px;
background-color:	#F08080;
border-radius:50px;
}
img{ width:400px;
height:250px;
margin-top:25px;
margin-right:50px;
border:1px solid black;
}
h1{
margin-left:100px;
margin-top:70px;
}
.a1{
margin-left:100px;
}
h2{
margin-left:100px;
color:DC143C;
}
.a{ 
margin-left:100px;
}
.column {
   
  float: left;
  width: 30%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
 
}

</style>
</head>

<body>

<div class="boxed">
<img src=  "{{ url_for('static',filename='img/fms.jfif')}}" style="float:right;" alt="MBA" class="center" />
<h1><u>Faculty of Management Studies,Delhi</u></h1>
<h3 class="a1">Private/Government</h3>
</div>
<h2>Faculty of Management Studies (FMS Delhi), established in 1954 under the aegis of the University of Delhi, offers management education to the professional managers as part-time and full-time MBA programmes. It is one of the oldest business schools in India which started offering a Full Time MBA programme.</h2>
    <h2>About:</h2><p class='a'>The Faculty of Management Studies focuses on management education more than just business management. The commitment is thought leadership with a deep understanding of business. The approach to pedagogy combines fieldwork, case studies and instrumented feedback with a strong emphasis on concepts and theory. The intent is to encourage intellectual curiosity and open minds to the adventure of ideas.

But much about the school is not just about what is taught within its confines. FMS has the unique privilege to be part of one of the premier universities world – the University of Delhi - with some of the finest departments in Economics, Law, Sociology, Commerce and Operations Research. Our collaborative approach involves inputs from various departments which gives the benefit of a much wider view and deeper understanding. This is indicated by the success of our alumni who are in positions of leadership in industries & governments across the world. The network of more than 10000 alumni gives students unmatched access to information, mentors and careers.

FMS rewards initiative, novelty and thinking outside the box. Our students are individualists of enormous intellectual energy with a talent for collaboration and teamwork. We are a diverse lot, possessing flair and dynamism that develops in a metropolis like Delhi and thrives on challenges both inside and outside the classroom.

Corporate recruiters value our graduates for their intellectual abilities, their collaborative mind-set, their individuality and their ability to hit the ground running.

We invite you to discover FMS for yourself.

Faculty of Management Studies (FMS)
University of Delhi, Malkaganj Marg
Kamla Nagar, New Delhi-110007
</p>
<h2>Courses Offered:</h2>
  <li class='a'>MBA Full Time</li>
  <li class='a'>MBA Executive(evening programme)</li>
    <li class='a'>MBA Executive -HCA</li>
    <li class='a'>Management Development</li>
      <li class='a'>Doctarol Programme</li>
    <h2>Admission:</h2>
    <p class="a">Candidates should have passed a bachelors degree examination of at least 3 years duration with a minimum of 45% marks in aggregate. Relaxation on this criterion may be made for those who scored more than 55% marks in aggregate in their post graduate degree or at least 60% in a Diploma in Personnel Management, Diploma in Management, Diploma in Sales and Marketing or Diploma in Administrative Management of the Delhi University conducted by the Faculty prior to the implementation of this particular scheme.Candidates should have at least three years experience as an executive or an administrator in a commercial, industrial or government establishment after passing the Bachelors Degree Examination. Three years Full-Time experience shall be determined as on 1st July of the year of admission</p>
    
    <h2>Exams Offered:</h2>
    <p class="a">FMS University of Delhi invities application from candinate for adddmission to <B>two years of MBA full time and PHD program </B> on the basics of <b>CAT 2017</b>Enterance Exam Score for the academic year 2018.</p>
    
    <h2>Gallery:</h2>
	<div class="a1">
    <div class="row">
  <div class="column">
    <img src=  "{{ url_for('static',filename='img/fms1.jfif')}}" alt="Snow" style="width:300px height=200px" /></div>
  <div class="column">
    <img  src=  "{{ url_for('static',filename='img/fms2.jfif')}}" alt="Forest" style="width:300px height:200px">
  </div>
  <div class="column">
    <img  src=  "{{ url_for('static',filename='img/fms3.jfif')}}" alt="Mountains" style="width:300px height:200px">
  </div>
</div></div>
    
    <h2>Contact:</h2>
    <ul class="a">
        <li>E-mail : admissions@fms.edu; ao@fms.edu</li>
        <li>Telephone : 011-2766 6382 - 6388 (Working days between 10:00 and 17:00 Hrs)</li>
        <li>Website : www.fms.edu</li>
    </ul>
    
</body>
</html>