<html>
<head>
<style>
#1:hover{
color:DC143C;
    }
.boxed{
border:1px solid black;
width:1500px;
height:300px;
background-color:	#F08080;
border-radius:50px;
}
img{ width:400px;
height:250px;
margin-top:25px;
margin-right:50px;
border:1px solid black;
}
h1{
margin-left:100px;
margin-top:70px;
}
.a1{
margin-left:100px;
}
h2{
margin-left:100px;
color:DC143C;
}
.a{ 
margin-left:100px;
}
.column {
   
  float: left;
  width: 30%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
 
}
</style>
</head>

<body>

<div class="boxed">
<img id="img2" src=  "{{ url_for('static',filename='img/iima.jpg')}}" style="float:right;" alt="MBA" class="center" />
<h1><u>IIM,Ahmedabad</u></h1>
<h3 class="a1">Government</h3>
</div>
<h2>Indian Institute of Management Ahmedabad (IIM Ahmedabad or IIMA) is a public business school located in Ahmedabad, Gujarat, India. It was the second Indian Institute of Management (IIM) to be established, after IIM Calcutta.<br>Established in 1961, the institute offers post graduate diploma programmes in management and agri-business management, a fellowship programme and a number of executive training programmes. The Institute's founding director was Ravi J. Mathhai. Other notable founding figures were the Indian physicist Vikram Sarabhai and Indian businessman Kasturbhai Lalbhai.</h2>
<h2>Courses Offered:</h2>
   <p class ='a'> 
  EXAM ACCEPTED
GMAT 2018

COURSE INFORMATION
eligibility criteria

Following are the basic criteria for the PGPX Application: 
A bachelor's Degree (minimum 10+2+3 years of formal education) or equivalent in any discipline
Minimum Age of 25 years as on 31st March of the year in which the PGPX programme commences
At least 4 years of full-time work experience after completion of graduation and
Valid GMAT / GRE Score
Note-There is no minimum requirement of bachelor's level scores as eligibility to apply. However, selected candidates are likely to have had a consistently good academic record.

       <b>Admission EXAM ACCEPTED</b>
GMAT 2018

       <b>COURSE INFORMATION</b>
       <u>eligibility criteria</u>

Following are the basic criteria for the PGPX Application: 
A bachelor's Degree (minimum 10+2+3 years of formal education) or equivalent in any discipline
Minimum Age of 25 years as on 31st March of the year in which the PGPX programme commences
At least 4 years of full-time work experience after completion of graduation and
Valid GMAT / GRE Score
Note-There is no minimum requirement of bachelor's level scores as eligibility to apply. However, selected candidates are likely to have had a consistently good academic record.
<h2>
    Admission Guidelines</h2>
<p class='a'>
Applicants to the PGPX must complete the following steps.
Register your interest
For 2019-20 admission season we have two rounds of application
For those who would like to submit during the Round 1, the completely filled-in applications should be submitted online by 11:59 pm (IST) of September 03, 2018
For those who would like to submit during the Round 2, the completely filled-in applications should be submitted online 11:59 pm (IST) by Nov 05, 2018
Note-To ensure that your scores are sent directly to IIMA, please select "Indian Institute of Management Ahmedabad - One Year Post-Graduate Programme in Management for Executives (PGPX)"as one of the five programmes to which the GMAT results have to be sent from the menu provided by GMAT before the start of the test.)

    
    </p><h2>Course Structure</h2><p class='a'>

Fee Structure and Schedule of Payment (PGPX 2018-19 Programme) – Round-1 
The Programme Fee for the 2018-19 PGPX Batch is INR 24.5 lakhs plus the cost of International Immersion Programme (IIP). An additional amount collected as Caution Money is refunded upon completion of the Programme. The Institute offers two modes of payment for the Programme Fee and the Caution Money. These are as follows:
Payment Mode 1
Phases
Married StudentHostel (MSH)*
SingleAccommodation*
First Commitment Fee
INR 2,00,000
INR 2,00,000
Second Commitment Fee
INR 9,00,000
INR 9,00,000
Balance Programme Fee
INR 13,50,000
INR 13,50,000
Caution Money (refundable)
INR 70,000
INR 35,000
Payment Mode 2
Phases
Married StudentHostel (MSH)*
SingleAccommodation*
First Commitment Fee
INR 2,00,000
INR 2,00,000
Second Commitment Fee
INR 9,00,000
INR 9,00,000
Caution Money (refundable)
INR 70,000
INR 35,000
Balance Fee: 1st Installment
INR 3,71,250
INR 3,71,250
Balance Fee: 2nd Installment
INR 3,71,250
INR 3,71,250
Balance Fee: 3rd Installment
INR 3,71,250
INR 3,71,250
Balance Fee: 4th Installment
INR 3,71,250
INR 3,71,250
Note-Please note that the Programme Fee for participants opting for SSH includes meals. The Programme Fee for participants opting for MSH does not include meals, but provides for spacious accommodation with basic cooking amenities. Participants opting for MSH would also bear additional monthly expenses related to their electricity, water, and LPG consumption. It is important to note that the First Commitment Fee is non-refundable. Therefore, please consider all your options well and make an informed choice.
The Programme Fee for PGPX 2019-20 is INR 27,00,000 (INR Twenty Seven Lacs) plus the cost of International Immersion Programme (IIP).
PGPX fee is usually a packaged/bundled fee which includes, for every student—tuition fees, books and course materials, accommodation, food charges (for those who are staying in SSH) and other service facilities such as library, computing, network changes etc. However this does not include the cost of International Immersion Programme (IIP). Utilities such as electricity, telephone, laundry, sports/gym subscription are additional and to be paid as per usage charges.
Financial Aid-
Usually several banks are interested in offering loans to those admitted to the PGPX. International students, apart from their own banking sources, can approach bank branches of Indian banks in their countries. 
Please click below for loan schemes available for PGPX from various Banks
Central Bank
State Bank of India
       Axis Bank</p>
   <h2>Exams Offered:</h2>
    <p class="a">GATE SCORE OF 2017.</p>
    
    <h2>Gallery:</h2>
	<div class="a1">
    <div class="row">
  <div class="column">
    <img  src=  "{{ url_for('static',filename='img/iima1.jfif')}}" alt="Snow" style="width:400px height=300px" /></div>
  <div class="column">
     
    <img src=  "{{ url_for('static',filename='img/iima2.jfif')}}" alt="Forest" style="width:400px height:300px">
  </div>
  <div class="column">
    <img src=  "{{ url_for('static',filename='img/iima3.jfif')}}" alt="Mountains" style="width:400px height:300px">
  </div>
</div>
    </div>
	
    <h2>Contact:</h2>
    <ul class="a">
        <li>e-mail: www.iima.ac.in/web/iima</li>
        <li>Contact Number: 079 6632 3456</li>
        
    </ul>
    
</body>
</html>