<html>
<head>
<style>
#1:hover{
color:DC143C;
    }
.boxed{
border:1px solid black;
width:1500px;
height:300px;
background-color:	#F08080;
border-radius:50px;
}
img{ width:400px;
height:250px;
margin-top:25px;
margin-right:50px;
border:1px solid black;
}
h1{
margin-left:100px;
margin-top:70px;
}
.a1{
margin-left:100px;
}
h2{
margin-left:100px;
color:DC143C;
}
.a{ 
margin-left:100px;
}
.column {
   
  float: left;
  width: 30%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
 
}

</style>
</head>

<body>

<div class="boxed">
<img src=  "{{ url_for('static',filename='img/iimb.jpg')}}" style="float:right;" alt="MBA" class="center" />
<h1><u>IIM,Bangolore</u></h1>
<h3 class="a1">Government</h3>
</div>
    <h2>ABOUT:<P>IIMA was set up as an institution that would be managed by a Society, the IIMA Society, created under the Societies Act. The Institute was to be run by a Board of Governors, constituted by the IIMA Society; the Board would have representation from all the relevant constituencies so as to reflect the multifarious needs of a developing nation. IIMA was therefore conceived as a Board-managed institution, free from the exclusive control of any one constituency. Thus, operational freedom is an integral part of the DNA of IIMA.<BR>S

        IIMA has been consistently ranked as the premier management school in the country by several national agencies. IIMA programmes are also ranked highly in several international rankings. In 2008, IIMA became the first management school in the country to be awarded EQUIS (European Quality Improvement System) accreditation by the EFMD (European Foundation for Management Development).</BR></P></h2>

<h2>Courses Offered:</h2><p class='a'>The following courses will be offered in the 40th FDP.  The courses have 5 to 15 sessions each. Each session lasts 75 minutes. <br>
    <b>Module 1:</b> The Pedagogy and Research Module
Case Method in Management Education
Communication for Management Teachers
Qualitative Research Methods
Crafting and Publishing of Research
Statistical Data Analysis
Multivariate Techniques for Research<br>
    <b>Module 2:</b> The General Management Module
Economic Environment and Policy
Fundamentals of Cost Accounting and Financial Accounting
Human Resources Management
Information Technology for Management
Marketing Management
Operations Management
Strategy Formulation and Implementation
Understanding Organizational Behaviour<br>
 
In addition, the candidates will be able to choose any one of the three sub-modules that cover advanced special topics in different areas of management and introduce contemporary practices and research areas. The three sub-modules are:<br>
(a)    Special Topics in Marketing<br>
(b)   Special Topics in Organizational Behavior and Human Resources<br>
(c)    Special Topics in General Management (including mix of courses from different areas such as  Finance, Operations, Strategy and other allied areas)<br>
    <b> Note: </b>Offering of a particular sub-module is subject to a minimum number of registrations as per IIMA norms. Applicants need to indicate their first and second preferred sub-module in the application.</p>
    
  
    <h2> Admissions(Eligibility):</h2><p class='a'>
    <b> Introduction</b><br>
The second IIM to be established in 1961, IIM Ahmedabad is consistently ranked as one of the best business schools in India and the Asia-Pacific region. One of the most sought after B-schools in the country, IIM Ahmedabad offers:
    <li align='center'>Post Graduate Diploma Programme in Management (PGP)</li>
    <li align='center'>Post Graduate Diploma Programme - Agri-Business Management (PGP-FABM)</li>
    <li align='center'>Doctoral (Fellowship) Programme (FPM)</li>
    <li align='center'>Executive Training Programme (PGPX)</li>
    <li align='center'>ePost Graduate Program (ePGP)</li>

<br>
    
    <h2>Exams Offered:</h2>
    <li align='center'>For PGP - CAT (domestic), GMAT (international)</li>
    <li align='center'>For PGP-FABM - CAT (domestic) and GMAT (international)</li>
    <li align='center'>For PGPX - GMAT </li>
    <p class="a">
        <h2>Gallery:</h2>
		<div class="a1">
    <div class="row">
  <div class="column">
    <img src= "{{ url_for('static',filename='img/iimb1.jfif')}}" alt="Snow" style="width:300px height=200px" /></div>
  <div class="column">
    <img src= "{{ url_for('static',filename='img/iimb2.jpg')}}" alt="Forest" style="width:300px height:200px">
  </div>
  <div class="column">
    <img  src= "{{ url_for('static',filename='img/iimb3.jfif')}}" alt="Mountains" style="width:300px height:200px">
  </div>
</div>
</div>

    <h2>Contact:</h2>
    <ul class="a">
        <li>e-mail: <P>SOME IMPORTANT</P><BR>Director: <BR></BR>
            director@iima.ac.inDean (Programmes):<BR></BR>
            Dean (Programmes):<BR></BR>
            dean-prog@iima.ac.inDean (Programmes):<BR></BR>
            Dean (Faculty):<BR></BR>
            dean-fac@iima.ac.inDean (Programmes):<BR></BR>
            Dean (Alumni & External Relations):<BR></BR>
            dean-aer@iima.ac.inDean (Programmes):<BR></BR>
Administration (CAO):<BR>
            cao@iima.ac.in</BR></BR></li>
        <li>Contact Number: +91 79-66323456</li>
        
    </ul>
    </h2>
</body>
</html>