<html>
<head>
<style>
#1:hover{
color:DC143C;
    }
.boxed{
border:1px solid black;
width:1500px;
height:300px;
background-color:#F08080;
border-radius:50px;
}
img{ width:400px;
height:250px;
margin-top:25px;
margin-right:50px;
border:1px solid black;
}
h1{
margin-left:100px;
margin-top:70px;
}
.a1{
margin-left:100px;
}
h2{
margin-left:100px;
color:DC143C;
}
.a2{ 
margin-left:300px;
}
    .column {
   
  float: left;
  width: 30%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
 
}
</style>
</head>

<body>

<div class="boxed">
<img src="{{ url_for('static',filename='img/iitk.jfif')}}" style="float:right;" alt="MBA" class="center" />
<h1><u>Indian Institute of Technology, kharagpur</u></h1>
<h3 class="a1">Government</h3>
</div>
    <h2 >Admissions</h2>
<div class='a1'>
IIT Kharagpur (IIT Kgp) offers degree and dual degree programmes at the undergraduate (UG), postgraduate (PG) and doctorate (PhD) level. The institute offers programmes majorly in the streams of Engineering and Science. However, IIT Kharagpur also offers Architecture (BArch), Management (MBA, EMBA), Law (LLM) and Medical Science & Technology programmes (MMST).
IIT Kharagpur BTech Admission Minimum Eligibility Criteria 2018
Admissions to BTech programmes at IIT Kharagpur is a three step process. Aspirants need to meet the eligibility requirements for JEE Main and JEE Advanced which includes criterions like the candidate’s Nationality, age, performance in JEE Main, number of attempts in the exam, appearance in Class XII etc. For the detailed eligibility of JEE Main and JEE Advanced click the respective links given above. <br>
IIT Kharagpur BTech Admission and Selection Process 2018
IIT Kharagpur BTech admissions process.&nbsp;
<br>&nbsp;
Step 1: The first step is to qualify JEE Main. Top 2.4 lakh engineering aspirants who clear this exam will be eligible for JEE Advanced.<br>&nbsp;
Step 2: The second step is to appear for JEE Advanced provided aspirants clear JEE Main. Admissions to BTech programmes at IIT Kharagpur will be based on the rank acquired in JEE Advanced.<br>&nbsp;
Step 3: After the declaration of JEE Advanced results, eligible candidates are required to appear for JoSAA (Joint Seat Allocation Authority) online counselling. The process typically commences in the month of June every year.
IIT Kharagpur BTech Application Process 2018
Eligible students - besides applying for JEE Main and JEE Advanced – will also have to register for JoSAA counselling.
   </div>
   <h2>Courses:</h2>
    <div class='a1'>

<b>
    Minor Courses</b> <br>
The Institute currently has 19 Departments, 13 Schools and 9 Centres of Excellence. Additionally there are more than 25 R&D units. Academic programs are offered are B.Tech.(15 programs), B.Arch, Dual Degree (35 programs), MBA, MHRM, LLB, MMST,MCP, M.Sc/ M.Tech/ MS (67 programs), PhD programs.
Talk about the latest interests - they are all here under one umbrella and these can be studied as elective papers for minor or microspecialization during B.Tech. or M.Tech. in 2-Year M.Tech. or Dual Degree Programs. 
Nano Science & Technology 
Energy Science 
Environment Science & Technology 
Bio-energy 
Intellectual Property Law 
Business Management 
Financial Engineering 
Impact of our Academic Program
<b><br>
    Features of Classroom Teaching at IIT Kharagpur:</b><br>
Smaller size of the class i.e. higher faculty student ratio ensuring better focus on every student
World-class technical facilities in the classrooms 
Availability of Moodle
Discussion Forum
<b>
    <br>Career-oriented Academics:</b><br>
We ensure competence in core area through effective instructions by world class faculty. We improve the industry worthiness of students and their interest in research by involving them in industry sponsored research. This helps us deliver top quality graduates who are well equipped to follow a corporate or research career. We have a plethora of multidisciplinary programs through Minor, Microspecialization and Dual Degree for empowering students with added skills. We offer opportunities for global academic research experience. Our programs on Law, Management, Finance etc. help build leadership or entrepreneurial aptitude, thus our graduates are more than mere engineers.</p><p>
JoSAA conducts the joint seat allocation process for BTech admissions to 100 institutes which includes 23 IITs (Indian Institutes of Technology), 31 NITs (National Institutes of Technology), 23 IIITs (Indian Institutes of Information Technology) and 23 Other- GFTIs (Government funded Technical Institutes).
    </div>
     <h2>Gallery:</h2>
	 <div class="a1">
    <div class="row">
  <div class="column">
    <img src="{{ url_for('static',filename='img/iitk1.jpg')}}" alt="IITk" style="width:300px height=200px" /></div>
  <div class="column">
    <img src="{{ url_for('static',filename='img/iitk2.jfif')}}" alt="IITk" style="width:300px height:200px">
  </div>
  <div class="column">
    <img src="{{ url_for('static',filename='img/iitk3.jpg')}}" alt="IITk" style="width:300px height:200px">
  </div>
</div>
    </div>
	
    <h2>Contact:</h2>
    <div class="a1">
        <li>link: http://www.iitkgp.ac.in/</li>
        <li>Contact Number: +91-3222-255221</li>
   </div>
   </body>
   </html>