<html>
<head>
<style>
#1:hover{
color:DC143C;
    }
.boxed{
border:1px solid black;
width:1500px;
height:300px;
background-color:	#F08080;
border-radius:50px;
}
img{ width:400px;
height:250px;
margin-top:25px;
margin-right:50px;
border:1px solid black;
}
h1{
margin-left:100px;
margin-top:70px;
}
.a1{
margin-left:100px;
}
h2{
margin-left:100px;
color:DC143C;
}
.a{ 
margin-left:100px;
}
.column {
   
  float: left;
  width: 30%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
 
}

</style>
</head>

<body>

<div class="boxed">
<img src=  "{{ url_for('static',filename='img/sjmcb.jfif')}}" alt="Med" style="float:right;"  class="center" />
<h1><u>St.JOHNS MEDICAL COLLEGE ,BANGALORE</u></h1>
<h3 class="a1">PRIVATE</h3>
</div>
<h2>
    OBJECTIVES:</h2>
    <P class="a">

St. John's strives to train and encourage health care professionals to reach out to the medically underserved of the nation. In this effort, it has succeeded in harmonizing dedication to excellence with commitment to social justice in health care.<br>
        <b>The Objectives of St John's National Academy of Health Sciences are:</b>
        <li class='a'>Excellence in all fields of health care education</li>
        <li class='a'>Adequate Christian formation of the students</li>
        <li class='a'>Upholding respect for life, from the moment of conception to its natural end,</li>
        <li class='a'>A genuine feeling of compassion towards the patients and their families as persons.</li>
        <li class='a'>A special thrust to community health fostering the dimensions of participatory team work</li>
        <li class='a'>Serving the health needs of medically underserved areas of our country and our medically underprivileged brethren</li>
        <li class='a'>Acquiring the ability to do research and apply the advances in scientific knowledge to the relevant fields of work</li>
        <li class='a'>Striving towards promoting holistic health</li>
        <li class='a'>Acquiring an exemplary steadfastness to principles and moral values so as to be witness to a life of honesty and integrity.</li></P>
    
    
    
    <h2>Admission:</h2>
    <p class='a'>
St. John's Medical College offers graduate, postgraduate, diploma and super specialty degrees recognized by the Rajiv Gandhi University of Health Sciences (RGUHS), Bangalore, KA. Around 900 students currently undergo training in various Medicine and Paramedical courses offered by the institute. The institute also has its own entrance exam as per a Supreme Court ruling. St. John's Medical College was ranked 14 among medical colleges in India by India Today and 4th in India by Outlook India. It was ranked 3rd among top private medical colleges in India by Careers360 in the same year.<br>
<li class='a'>MBBS and MD/ MS candidates must apply through KEA counselling after qualifying NEET and PGET respectively.
<li class='a'>Candidates applying for B.Sc., BPT, M.Sc., PG Diploma, Super-Specialty and DNB programs must take the Entrance Exam conducted by St. John’s Medical College by applying through the institute admission process.
<li class='a'>MBBS and MD/ MS candidates must apply through KEA counselling after qualifying NEET and PGET respectively.
<li class='a'>
    Applications for the St. John’s Entrance Exam can be submitted by contacting the institute.</li>
        <li class='a'>Diploma holders fulfilling the eligibility conditions specified in the ordinance of Allied Health Science Courses are eligible for Lateral Entry to the B.Sc. programs.</li>
        <li class='a'>Candidates who have cleared the MBBS program within not more than two additional years than minimum duration are eligible for the MD/ MS programs.</li>
        <li class='a'>PG candidates must not be over 45 years of age (relaxed for scheduled caste/ tribe candidates by three years).</li>
        <li class='a'>MBBS and MD/ MS candidates are selected through KEA counselling.</li>
        <li class='a'>Candidates for B.Sc., M.Sc., BPT, and other PG programs are selected on the basis of marks obtained in St. John’s Entrance Exam.</li>
        <li class='a'>The institute reserves seat for eligible candidates as per KEA and Karnataka State Govt. norms.</li></p>
    
 
    
    
    <h2>Courses Offered:</h2>
    <p class ='a'>
1.MBBS<br>
2.M.D<br>
3.M.Ch<br>
4.M.S<br>
5.Fellowship<br>
6.Diploma</p>
    
    
  
    <h2>Gallery:</h2>
	<div class="a1">
    <div class="row">
  <div class="column">
    <img src=  "{{ url_for('static',filename='img/sjmcb1.jfif')}}" alt="Med" style="width:300px height=200px" /></div>
  <div class="column">
    <img src=  "{{ url_for('static',filename='img/sjmcb2.jfif')}}" alt="Med" style="width:300px height:200px">
  </div>
  <div class="column">
    <img src=  "{{ url_for('static',filename='img/sjmcb3.jfif')}}" alt="Med" style="width:300px height:200px">
  </div>
</div>
    </div>
    
<h2>
    Contact Details :</h2>
<li class='a'>Address:The Registrar<br>
Admissions Office<br>
St. John’s National Academy of Health Sciences<br>
Sarjapur Road<br>
    Bangalore - 560 034,India.<br></li>
    <li class='a'>Email : sjmc.admission@stjohns.in</li>
    <li class='a'>Tel : +91 80 4946 6029; +91 80 4946 6030; +91 80 4946 6031</li>
</body>
</html>