<html>
<head>
<style>
#1:hover{
color:DC143C;
    }
.boxed{
border:1px solid black;
width:1500px;
height:300px;
background-color:	#F08080;
border-radius:50px;
}
img{ width:400px;
height:250px;
margin-top:25px;
margin-right:50px;
border:1px solid black;
}
h1{
margin-left:100px;
margin-top:70px;
}
.a1{
margin-left:100px;
}
h2{
margin-left:100px;
color:DC143C;
}
.a{ 
margin-left:100px;
}
.column {
   
  float: left;
  width: 30%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
 
}

</style>
</head>

<body>

<div class="boxed">
<img src="{{ url_for('static',filename='img/sls.jfif')}}" alt="law" style="float:right;"  class="center" />
<h1><u>SYMBIOSIS LAW SCHOOL,PUNE</u></h1>
<h3 class="a1">Government</h3>
</div>
<h2>
    Symbiosis Law School, Pune established in June 1977, was earlier affiliated to the University of Pune and later became a constituent of Symbiosis International University in 2002, with an enhanced degree of autonomy in teaching, learning and research. </h2>
    
    <h2>ABOUT:</h2><p class ='a'>Symbiosis Law School, Pune has achieved various milestones in teaching, learning and research. It is the first law college in Pune to offer evening law programs and is one of the pioneers of the five year law program. Its innovative and creative educational experiments have set it apart from other law colleges in the city and the region. Symbiosis Law School, Pune has the honour of being a core partner in the global network of legal institutes of the Erasmus Mundus consortium. It has also been selected by the Government of India, Ministry of Social Welfare for awarding scholarships to SC & ST students. SLS, Pune also has collaborations with various bodies and renowned national and international educational institutions. </p>

    
    
    <h2>Admission:</h2>
    <p class ='a'><b>Admission procedure for BA LL.B. (Hons.) & BBA LL.B. (Hons.) 
        Academic Year 2018-2019 .</b><br>
A. Candidate seeking admission to Symbiosis Law School, Pune (SLS, Pune) should complete the following procedure:<br> 
1.It is mandatory to appear for SLAT (Symbiosis Law Admission Test) as a precondition for admission to SLS, Pune.<br>
2.Candidate must complete the SLAT (Symbiosis Law Admission Test) online registration process.<br>
        3.Candidate must pay Rs. 1750/- as a SLAT Registration Fees.<br>
4.Candidate must complete the SLS, Pune payment Rs. 1000/- per programme (i.e. BA. LL.B.(Hons.) or / and BBA. LL.B. (Hons.)) while filling the SLAT registration form.<br> </p>
    
 
    <h2>
        SELECTION PROCESS: </h2><p class='a'>
1.Symbiosis Law Admission Test (SLAT)<br>
2.PI-WAT (Personal Interaction and Writing Ability Test)<br>
    <b>
        A. Symbiosis Law Admission Test (SLAT):</b><p class='a'>
Symbiosis Law Admission Test shall be conducted at different centers across the India. SLAT will be an online admission test for 150 marks. Structure of test includes 150 questions for 1 mark each covering Logical Reasoning, Legal Reasoning, Analytical Reasoning, Reading Comprehension and General Knowledge. A total time of 150 minutes shall be given to candidates to solve the questions.
    On declaration of SLAT result SLS, Pune will publish the list of shortlisted candidates who are eligible for PI-WAT process.</p><b>
    <p class='a'>B. PI-WAT (Personal Interaction and Writing Ability Test):</b> <br>
    <u>PI (Personal Interaction): </u><br>
    <p class ='a'>Personal interaction/ interview of shortlisted candidates will be conducted by panel of experts from Industry / Academic.</p>
    <u class='a'>WAT (Writing Ability Test):</u> <br>
<p class='a'>The test includes writing a short essay on a given topic.
    Maximum score for PI-WAT will be 50 marks.</p>
    
    <h2>Courses Offered:</h2>
    <p class='a'>5 Years B.A. B.B.A. L.L.B.(Hons) <br> 
3 Years LL.B <br>
1 Years LL.M <br> 
Diploma Programme <br> 
EULS </p>
    
    
  
    <h2>Gallery:</h2>
	<div class="a1">
    <div class="row">
  <div class="column">
    <img src="{{ url_for('static',filename='img/sls1.jfif')}}" alt="law" style="width:300px height=200px" /></div>
  <div class="column">
    <img src="{{ url_for('static',filename='img/sls2.jfif')}}" alt="law" style="width:300px height:200px">
  </div>
  <div class="column">
    <img src="{{ url_for('static',filename='img/sls3.jfif')}}" alt="law" style="width:300px height:200px">
  </div>
</div>
</div>
  
    <h2>Contact Us :</h2><p class='a'>
Symbiosis Law School Pune<br>
Survey No 227, Plot 11, Rohan Mithila,<br>
Opp. Pune Airport, Symbiosis Road,<br>
Viman Nagar, Pune 411014 <br>

Office : 020-66861100 / 18   <br>
Fax No :020- 6686 1190
    <br>For Admission Queries :
Contact Details:<br>
020-66861100 / 18
    <br>Mob:+91- 83800 20926 , 83800 20927, 83800 209284 
<br>Email for enquiry : slspinfo@symlaw.ac.in 

    <br>Website : www.symlaw.ac.in </body>
</html>