<html>
<head>
<style>
#1:hover{
color:DC143C;
    }
.boxed{
border:1px solid black;
width:1500px;
height:300px;
background-color:	#F08080;
border-radius:50px;
}
img{ width:400px;
height:250px;
margin-top:25px;
margin-right:50px;
border:1px solid black;
}
h1{
margin-left:100px;
margin-top:70px;
}
.a1{
margin-left:100px;
}
h2{
margin-left:100px;
color:DC143C;
}
.a{ 
margin-left:100px;
}
.column {
   
  float: left;
  width: 30%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
 
}

</style>
</head>

<body>

<div class="boxed">
<img src=  "{{ url_for('static',filename='img/xlrij.jpg')}}" style="float:right;" alt="MBA" class="center" />
<h1><u>Xavier Labour Relations Institute,jamshedpur</u></h1>
    <h3 class="a1" >Private</h3>
</div>

<h2>Courses Offered:</h2><p class='a'> 
Xavier Labour Relations Institute XLRI, Jamshedpur offers various graduate courses as well as Post Graduate courses.
    <b >Masters Degree Courses</b>
    <li class='a'>Master of Business Management (MBM) </li>

    <p class='a'>XLRI, Jamshedpur offers Full Time <b>Masters Degree in Master of Business Management (MBM)</b>

    <li class='a'>View Details Duration: 2 Years &nbsp;&nbsp;&nbsp;   Learning Mode: Full Time  &nbsp;&nbsp;&nbsp;  Course Level: Masters Degree</li> 
    <b class='a'>post graduate Diploma / Certification Courses</b><br>
    <li class='a'>Post Graduate Certificate in Human Resource Management (PGCHRM)<br> </li>

   <p class='a'> XLRI, Jamshedpur offers Full Time <b>PG Diploma / Certification in Post Graduate Certificate in Human Resource Management (PGCHRM)</b><br>

    <li class='a'>view Details Duration: 1 Year&nbsp;&nbsp;&nbsp;    Learning Mode: Full Time  &nbsp;&nbsp;&nbsp;  Course Level: PG Diploma / Certification <br></li>
    <li class='a'><b>Post Graduate Certificate in Business Management (PGCBM) </b></li>

    <p class='a'>XLRI, Jamshedpur offers Full Time <b>PG Diploma / Certification in Post Graduate Certificate in Business Management (PGCBM)</b><br >

    <li class='a'>View Details Duration: 1 Year &nbsp;&nbsp;&nbsp;   Learning Mode: Full Time&nbsp;&nbsp;&nbsp;    Course Level: PG Diploma / Certification<br> </li>
    <b class='a'>Diploma / Certification Courses</b>
        <p class='a'><br class='a'>Certification Human resource management (CHRM)<br class='a'> 

    <p class='a'>XLRI, Jamshedpur offers Full Time<b> Professional Courses in Certification Human resource management (CHRM)</b>

    <li class='a'>view Details Duration: 1 Year &nbsp;&nbsp;&nbsp;   Learning Mode: Full Time &nbsp;&nbsp;&nbsp;   Course Level: Diploma / Certification <br></li>
    <b class='a'>Bachelors Degree Courses</b>
        <p class='a'><br class='a'>
Bachelor of Business Management (BBM)<br> 

    <li class='a'>View Details Duration: 3 Years &nbsp;&nbsp;&nbsp;   Learning Mode: Full Time &nbsp;&nbsp;&nbsp;   Course Level: Bachelors Degree <br></li>
</p>
    
  
    <h2>Admission:</h2>
    <p class='a'>
The admission process requires a candidate to opt for ONE of the following options:<br>
        <b>Option 1 </b>- (XL-RAPT)
Candidates with any of the above qualifications may choose to appear in the XLRI Research Aptitude Test (XL-RAPT) to be conducted in selected cities on Saturday January 7, 2017.<br>
        <b>Option 2</b> - (UGC JRF/NET; GMAT/GRE/GATE)
Candidates with any of the above qualifications may submit UGC JRF/NET; GMAT/GRE/GATE results/scores taken during the last two years. Such candidates will be exempted from appearing in XL-RAPT.<br>
        <b>Option 3</b><br> - (MBA/PGDM candidates)
Candidates who have done their PGP from XLRI, any of the IIMs, FMS Delhi, MDI Gurgaon, XIM Bhubaneswar, IRMA, SP Jain, School of Management of IITs, NITs, TIFR, TISS, ISI and other comparable institutes, with a CQPI of at least 6.00/8.00 or equivalent will also be exempted from appearing in the XL-RAPT. Shortlisted candidates will be required to appear for a personal interview during March-April, 2017 at XLRI, Jamshedpur for the final selection.<br>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>The admission process requires a candidate to opt for any one of the following alternatives:</b><br>
- Candidates may choose to appear in the XLRI Research Aptitude Test (XL-RAPT) which will be conducted on Saturday, January 7, 2017.<br>
- Candidates may submit UGC JRF/NET; GMAT/GRE/GATE results/scores taken during the last two years. Such candidates will be exempted from appearing in XL-RAPT.<br/>
- Candidates who have done their PGP or one year full time GMP/PGPX/Executive PGP from XLRI, any of the IIMs, FMS Delhi, MDI Gurgaon, XIM Bhubaneswar, IRMA, SP Jain, School of Management of IITs, NITs, TIFR, TISS, ISI and other comparable institutes, with a CQPI of at least 6.00/8.00 or equivalent will also be exempted from appearing in the XL-RAPT.<br/>
    - Shortlisted candidates will be required to appear for a personal interview during March-April, 2017 at XLRI Jamshedpur for the final selection.</p>
    
    <h2>Gallery:</h2>
	<div class="a1">
    <div class="row">
  <div class="column">
    <img src=  "{{ url_for('static',filename='img/xlrij1.jpg')}}" alt="Snow" style="width:300px height=200px" /></div>
  <div class="column">
    <img src=  "{{ url_for('static',filename='img/xlrij2.jpg')}}" alt="Forest" style="width:300px height:200px">
  </div>
  <div class="column">
    <img src=  "{{ url_for('static',filename='img/xlrij3.jfif')}}" alt="Mountains" style="width:300px height:200px">
  </div>
</div>
</div>
    
    <h2>Contact Details :</h2>
    <div class="a1">
	<li> Phone No :-0657-225506 -12</li>
    <li> Email:admis@xlri.ac.in</li>
    <li> Link:WWW.XLRI.AC.IN </li>
    </div>
    
</body>
</html>